# Object files, executable
*.obj
*.o
/bin
/obj
*.exe
src/gtime

# Test files, temp files

todo.txt
/test
*.ksig
sign_test.bat
*~


# Ide project files
/nbproject
/dist
gtime/
/src/.deps/
/gtime/nbproject/private/
.dep.inc



makefile
config.[*hls]*
configure
GNUmakefile
*.log
*.in
aclocal.m4
autom4te.cache
build-aux

