# Object files, executable
*.obj
*.o
/bin
/obj
*.exe
src/gtime

# Test files, temp files

todo.txt
*.ksig
sign_test.bat
*~
*.lnk


# Ide project files
/nbproject
/dist
gtime/
build/
/src/.deps/
/gtime/nbproject/private/
.dep.inc
*.pdb




config.[*hls]*
configure
GNUmakefile
*.log
*.in
aclocal.m4
autom4te.cache
build-aux
stamp-h1

