Package: ksitool
Version: @VER@
Section: utils
Priority: optional
Architecture: @ARCH@
Depends: libcurl3, libssl0.9.8 | libssl1.0.0, libksi (>= 3.5)
Maintainer: Guardtime <support@guardtime.com>
Description: Command-line tool to access Guardtime KSI service.
